@{
    ViewData["Title"] = "Home Page";
}


<style>
    .container {
        height: 70vh;
    }

    .text {
     padding-top: 150px;  
     font-size: 50px;
    }


</style>
<div class="container mx-auto bg-warning pt-5 pb-5">
    <h1 class="text-center text-black text">Welcome To KSEI</h1>
</div>